<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="http://fonts.cdnfonts.com/css/vw-head" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Maschinenpark - Registrierung</title>
</head>
<body>
    <div class="header-container">
        <div class="header-text">
          <p>Akademie Emden</p>
        </div>
        <div class="header-line-middle"></div>
        <div class="header-logo">
          <img class="logo" src="/img/logo.png" alt="">
        </div>
        <div class="header-line-end"></div>
    </div>
    <div class="container-main">
        <div class="register-form-container">
            <form action="/register" method="post" name="registerform">
                <div class="input-field">
                    <div class="input-label">
                        <label for="lastname">Name</label>
                    </div>
                    <input id="lastname" required type="text" name="lastname">
                </div>
                <div class="input-field">
                    <div class="input-label">
                        <label for="firstname">Vorname</label>
                    </div>
                    <input id="firstname" required type="text" name="firstname">
                </div>
                <div class="input-field">
                    <div class="input-label">
                        <label for="userId">Volkswagen UserID</label>
                    </div>
                    <input id="userId" required title="Ihre werksinterne siebenstellige Identifikationsnummer" type="text" name="userId" minlength="7" maxlength="7" style="text-transform:uppercase" />
                </div>
                <div class="input-field">
                    <div class="input-label">
                        <label for="password">Passwort</label>
                    </div>
                    <input required id="password" type="password" name="password">
                </div>
                <div class="input-field">
                    <div class="input-label">
                        <label for="passwordRepeat">Passwort wiederholen</label>
                    </div>
                    <input required id="passwordRepeat" type="password" name="passwordRepeat">
                </div>
                <div  class="input-field">
                    <div class="input-label">
                        <label for="role">Role</label>
                    </div>
                    <select id="role" name="role">
                        <option value="AZB">Auszubildender</option>
                        <option value="ABBA">Ausbilder - Meister</option>
                        <option value="ABBA">Facharbeiter</option>
                    </select>
                </div>
                <div class="input-field">
                    <div class="input-label">
                        <label for="profession">Beruf</label>
                    </div>
                    <select id="profession" name="profession">
                        <option value="MECH">Mechatroniker/-in</option>
                        <option value="IM">Industriemechaniker/-in</option>
                        <option value="ZM">Zerspannungsmechaniker/-in</option>
                        <option value="TPD">Technischer Produktdesigner/-in</option>
                        <option value="PT">Produktionstechnologe/-in</option>
                        <option value="WZM">Werkzeugmechaniker/-in</option>
                        <option value="OTHER">Andere</option>
                    </select>
                </div>
                <div class="input-field">
                    <div class="input-label">
                        <label for="apprenticeyear">Lehrjahr</label>
                    </div>
                    <select id="apprenticeyear" name="apprenticeyear">
                    </select>
                    <p id="message"></p>
                </div>
                <div class="buttons-container">
                    <button id="back-btn">Zur&#252;ck</button>
                    <button type="button" id="submit-btn">Registrieren</button>
                </div>
            </form>
        </div>
        <div id="help-btn" class="help-menu-container">
            <div class="help-menu"><ion-icon name="help-outline"></ion-icon></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/register.js"></script>
</body>
</html>