#header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-inline: 30px;
}

.user-bubble {
    display: flex;
    background-color: #009879;
    color: white;
    font-size: 23px;
    min-width: 40px;
    font-family: "VW Head", sans-serif;
    width: auto;
    border-radius: 100px;
}

.user-bubble ion-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    margin-left: 10px
}

#current-user {
    margin-top: 5px;
    margin-inline: 5px 15px;
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-bookings-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#user-edit-error,
#machine-add-error,
#booking-create-error {
    display: none;
    color: red;
    font-family: 'VW Head', sans-serif;
}

#permission-edit-warning {
    display: none;
    color: #f25902;
    font-weight: bold;
    font-family: 'VW Head', sans-serif;
}

.my-bookings-table tbody tr.soon-row {
    font-weight: bold;
    color: rgb(0, 30, 80);
}

.my-bookings-table tbody tr,
.user-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f6f8fa;
    font-weight: bold;
    color: rgb(0, 30, 80);
}

.my-bookings-table tbody tr:nth-of-type(odd),
.user-table tbody tr:nth-of-type(odd) {
    background-color: white;
}

.my-bookings-table,
.user-table  {
    width: 100%;
    margin: 0;
}

caption {
    background-color: rgb(0, 30, 80);
    color: #f6f8fa;
    font-size: 25px;
    padding: 12px;
    font-family: "VW Head", sans-serif;
}

.db-switch-container {
    display: flex;  
}

.db-switch-text {
    color: #434343;
    font-size: 23px;
    margin-inline: 30px 10px;
    font-family: "VW Text", sans-serif;
}

#help-btn {
    height: 40px !important;
    width: 40px !important;
}

#help-btn ion-icon {
    font-size: 27px !important;
    margin-top: 0 !important;
}

.my-bookings-container {
    position: relative;
    margin-inline: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
    border: 3px solid rgb(0, 30, 80);
    border-radius: 15px;
    height: 70vh;
    overflow: auto;

}


.container-left {
    width: 100%;
}

.user-table-container {
    overflow-y: auto !important;
    white-space: nowrap;
    width: 80%;
    height: 70vh;
    border: 3px solid rgb(0, 30, 80);
    border-radius: 15px;
    overflow: hidden;
    overflow-x: auto;
    margin: auto;
}

.my-bookings-table td,
.my-bookings-table th,
.user-table th {
    padding: 12px 15px;
    font-size: 18px;
    font-family: "VW Head", sans-serif;
}

.user-table td {
    padding: 5px;
    font-size: 18px;
    font-family: "VW Head", sans-serif;
}

.my-bookings-table th {
    color: #434343;
}

.user-table td {
    color: rgb(0, 30, 80);
}

.user-table th {
    color: #434343;
    text-align: center;
}

.my-bookings-table td,
.user-table td {
    height: 40px;
}

.my-bookings-table thead tr,
.user-table thead tr {
    text-align: left;
    background-color: lightgrey;
}

.user-content {
    display: flex;
    flex-direction: column;
}

th {
    cursor: pointer;
}

.user-search-field-container {
    z-index: 99;
    width: 80%;
    margin: auto;
    float: right;
    transform: translateY(42px);
    height: 45px;
}

#user-search-field {
    transition: all .5s;
    height: 45px;
    float: right;
    width: 45px;
    text-align: start;
}


#nothing-found-info-text {
    display: none;
    position: absolute;
    font-size: 25px;
    color: #f25902;
    font-family: "VW Head", sans-serif;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.user-search-field-container ion-icon {
    color: rgb(0, 30, 80);
    font-size: 25px;
    float: right;
    transform: translate(45px, 13px);
}

.container-secondary {
    width: 50%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.swal2-title {
    font-size: 40px;
    color: rgb(0, 30, 80);
    font-family: 'VW Head', sans-serif;
}

#date-time {
    text-align: right;
    color: rgb(0, 30, 80);
    font-size: 25px;
    font-family: "VW Head", sans-serif;
}


.option-button {
    height: 70px;
    width: 50%;
    color: #f6f8fa;
    background-color: rgb(0, 30, 80);
    border-radius: 50px;
    margin-inline: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: "VW Head", sans-serif;
}

.option-button:hover {
    cursor: pointer;
    background-color: #02ccfd;
}

#logout-btn {
    height: 40px;
    width: 20%;
    color: black;
    background-color: lightgray;
    border-radius: 50px;
    margin-inline: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "VW Head", sans-serif;
}

#logout-btn:hover {
    cursor: pointer !important;
    opacity: 0.8;
}

.edit-field {
    color: #009879;
 }

.edit-field::placeholder {
   color: #009879;
   opacity: 1;
}

.option-field {
    color: black !important;
 }

.option-field::placeholder {
    color: black !important;
    opacity: 1;
 }
 
#nobookings-info {
    display: none;
}

.datepicker-error-message {
    text-align: center;
    color: red;
    padding: 0 10px 15px 10px;
}

.error-message-container {
    display: none;
    width: 100%;
}

.edit-icon,
.pie-icon,
.bar-icon,
.delete-icon,
.user-edit-icon,
.machine-edit-icon,
.machine-add-icon,
.machine-delete-icon,
.user-delete-icon,
.user-password-icon,
.machine-add-btn {
    border-radius: 10px;
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.edit-icon,
.user-edit-icon,
.machine-edit-icon,
.machine-add-icon,
.user-password-icon,
.machine-delete-icon {
    margin-right: 5px;
    background-color: rgb(0, 30, 80);
}

.user-edit-icon,
.machine-edit-icon,
.machine-delete-icon {
    margin-left: 5px;
}

.delete-icon,
.user-delete-icon {
    margin-left: 5px;
    background-color: #f25902;
}

.bar-icon {
    margin-left: 5px;
}

.pie-icon {
    margin-left: 5px;
 
}

.active-chart {
    background-color: rgb(0, 30, 80);
}

.inactive-chart {
    background-color: lightgrey;
}

.edit-icon:hover,
.user-edit-icon:hover,
.delete-icon:hover,
.user-delete-icon:hover,
.user-password-icon:hover,
.machine-edit-icon:hover,
.machine-delete-icon:hover,
.machine-add-icon:hover {
    opacity: 0.8;
}

.machine-delete-bubble {
    cursor: pointer !important;
    color:white;
    display: none;
    height: 25px;
    width: 25px;
    background-color: rgb(0, 30, 80);
    border: 2px solid rgb(0, 30, 80);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-13px, -13px);
    font-size: 25px;
}

.machine-edit-bubble {
    cursor: pointer !important;
    display: none;
    color: white;
    font-size: 20px;
    height: 25px;
    width: 25px;
    background-color: rgb(0, 30, 80);
    border: 2px solid rgb(0, 30, 80);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-13px, -13px);;
}

.machine-edit-bubble ion-icon {
    margin-top: 2px;
}

.overlay {
    position: absolute;
    color: rgb(0, 30, 80);
    font-family: "VW Head", sans-serif;
    font-size: 25px !important;
    left: 0.7em;
    right: 0.7em;
    height: 1.2em;
    text-align: center;
    height: 50vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  tr {
    position: relative;
  }

#main-info-container {
    height: 85%;
    padding: 20px;
}

.info-container {
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stat-line {
    border-right: #43434382 1px solid;
    margin-top: 30px;
    height: 80%;
}

.statistic-information {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-text {
    margin: 5px;
    text-align: start;
    color: grey;
    font-size: 22px;
}

.chart-buttons {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-icons-container,
.chart-icons-container {
    display: flex;
    flex-direction: nowrap;
    flex-direction: row;
    justify-content: center;
}

.chart-icons-container {
    padding: 15px;
}

.chart-title {
    font-size: 30px;
    color: rgb(0, 30, 80);
    font-family: 'VW Head';
}

.edit-icons-container ion-icon,
.user-search-field-container ion-icon,
.icon-container ion-icon,
.chart-icons-container ion-icon {
    margin-top: 7px !important;
}


.machine-delete-bubble:hover {
    background-color: #f25902;
}

.machine-edit-bubble:hover {
    background-color: #02ccfd;
}

.user-edit-icons-cell,
.booking-edit-icons-cell,
.edit-icons-header {
    display: none;
}

.swal,
.swal-swal {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    z-index: 2 !important;
}

.swal {
    height: 90vh;
}

.small-swal {
    height: 40vh;
}

.swal2-html-container {
    font-size: 50px;
    color: rgb(0, 30, 80);
    font-family: 'VW Head', sans-serif;
}

.mc-calendar {
    z-index: 9999 !important;
    font-family: "VW Head", sans-serif;
}

.swal2-confirm {
    font-size: 20px !important;
    font-family: "VW Text", sans-serif;
    height: 40px;
    border-radius: 50px !important;
    text-align: center;
    width: 150px;
    outline: none !important;
    border: none !important;
    padding: 0 !important;

}

.swal2-cancel {
    font-size: 20px !important;
    font-family: "VW Text", sans-serif;
    height: 40px;
    border-radius: 50px !important;
    text-align: center;
    width: 120px;
    outline: none !important;
    border: none !important;
    padding: 0 !important;
}

.swal2-html-container {
    font-family: "VW Text", sans-serif;
    font-size: 20px !important;
    color: rgb(0, 30, 80);
}

.swal2-confirm:hover {
    background-color: #02ccfd !important;
}
.swal2-html-container button {
    cursor: pointer !important;
}

label {
    color: rgb(0, 30, 80);
}

input, select {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-size: 22px;
    padding: 10px;
    padding-left: 15px;
    font-family: "VW Text", sans-serif;
    border: 3px solid rgb(0, 30, 80);
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    width: 400px;
}

select {
    padding: 5px;
}
.edit-options-container {
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#current-maschine {
    width: 100px;
}

#profession-chart-btn,
#role-chart-btn,
#time-chart-btn,
#maschine-change-btn {
    height: 50px;
    width: 200px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: rgb(0, 30, 80);
    color: #f6f8fa;
    font-family: "VW Text", sans-serif;
    font-size: 23px;
}

#profession-chart-btn,
#role-chart-btn,
#time-chart-btn {
    margin: 10px;
    height: 60px;
    width: 240px;
}

#profession-chart-btn:hover,
#role-chart-btn:hover,
#time-chart-btn:hover,
#maschine-change-btn:hover {
    background-color: #02ccfd;
}

#to-calendar,
#from-calendar {
    color: #f6f8fa;
    padding-top: 5px;
}

.icon-container {
    background-color: rgb(0, 30, 80);
    border-radius: 50px;
    margin-top: 12px;
    height: 50px;
    width: 50px;
}

.icon-container:hover {
    background-color: #02ccfd;
    cursor: pointer;
}

.edit-option-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.label-container {
    margin-top: 18px;
}

.maschinenpark-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid rgb(0, 30, 80);
    height: auto;
    background-color: #f6f8fa;
    width: 95%;
    margin-inline: auto;
    border-radius: 10px;
}


.bohr-container {
    display: flex;
    flex-direction: column;
}

.fraes-maschinen-container,
.dreh-maschinen-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fraes-container,
.dreh-container {
    display: flex;
    flex-direction: column;
}

.maschine-type-container {
    background-color: lightgray;
    border: 3px solid rgb(0, 30, 80);
    margin: 20px;
    padding: 20px;
    height: auto;
}

.machinen-container {
    margin: auto;
    justify-content: center;
}

.park-section-title {
    margin-bottom: 10px;
    font-family: "VW Head", sans-serif;
    font-size: 22px;
    text-align: center;
    color: rgb(0, 30, 80);
}

.maschine {
    position: relative;
    height: 50px;
    width: 50px;
    border: 3px solid rgb(0, 30, 80);
    border-radius: 10px;
    margin: 10px;
}

.drehmaschine {
    background-color: #02ccfd;
    background-image: url("/img/dreh.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
    background-origin: content-box;
}

.fraesmaschine {
    background-color: #02ccfd;
    background-image: url("/img/fraes.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
    background-origin: content-box;
}

.bohrmaschine {
    background-color: #02ccfd;
    background-image: url("/img/bohr.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
    background-origin: content-box;
}

.status-bullet {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.status-o-bullet{
    background-color: #02ccfd;
}

.status-f-bullet {
    background-color: #009879;
}

.status-b-bullet {
    background-color: red;
}

.status-s-bullet {
    background-color: rgb(0, 30, 80);
}

.status-o{
    background-color: #02ccfd;
    cursor: not-allowed;
}

.status-f {
    background-color: #009879;
    cursor: pointer;
}

.status-b {
    background-color: red;
    cursor: not-allowed;
}

.legend-element {
    display: flex;
    margin: 0 0 10px 20px;
}

.info-content {
    display: flex;
    flex-direction: column;
}

.info-section {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

.status-text {
    padding-top: 2px;
    padding-inline: 10px;
    font-size: 23px;
}

.info-text {
    font-size: 17px;
}

.current-user {
    padding-left: 10px;
    flex-wrap: nowrap;
    color: #02ccfd;
    font-size: 23px;
}

.occupied-unti {
    padding-left: 10px;
    flex-wrap: nowrap;
    color: #02ccfd;
    font-size: 23px;
    margin-bottom: 20px;
}

.swal-park {
    height: 95vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    z-index: 2 !important;
    margin: 0 !important;
}

.swal-user {
    height: 95vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    z-index: 2 !important;
    margin: 0 !important;
}

.swal2-html-container {
    margin: 0 !important;
}

.left-park-section {
    width: 30%;
}

.right-park-section {
    display: flex;
    flex-direction: column;
    width: 63%;
}

.selected {
    background-color: rgb(0, 30, 80) !important;
}

.on {
    background-color: #f25902 !important;
}

.off {
    background-color: rgb(0, 30, 80);
}

.on:hover {
    opacity: 0.8;
}

.off:hover {
    background-color: #02ccfd;
}

.edit-btn-disabled {
    pointer-events: none;
    background-color: grey !important;
}

#chart-container {
    height: 70vh;
    margin-right: 100px;
    margin-left: 100px;
}

#user-edit-btn {
    height: 50px;
    margin-top: 20px;
    width: 250px;
    background-color: rgb(0, 30, 80);
    font-family: "VW Text", sans-serif;
    font-size: 20px;
    border-radius: 100px;
    color: #f6f8fa;
}

#user-edit-btn:hover {
    background-color: #02ccfd;
}

.active-sort-header{
  color: #02ccfd !important;
}

.edit-title {
    margin-bottom: 20px;
    font-family: 'VW Head';
    color: rgb(0,30,80);
    font-size: 30px;
}

.current-year {
    font-family: 'VW Head';
    font-size: 23px;
}

.posauto {
    position: inherit;
}

.center-year {
    display: flex !important;
    justify-content: center !important;
    margin: 10px 0px 5px 0px;
}

@media screen and (max-width: 1000px) { 

    .container-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .my-bookings-container { 
        width: auto
    }

    .container-secondary {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 500px) { 

    caption {
        text-align: start;
    }
}