.swal {
    height: 90vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.swal h2 {
    font-size: 40px;
    color: rgb(0, 30, 80);
    font-family: 'VW Head', sans-serif;
}

.swal2-title {
    padding-bottom: 30px !important;
}
.top-info-text {
    color: #f25902;
}


.swal2-confirm {
    margin-top: 20px !important;
    font-size: 20px !important;
    font-family: "VW Text", sans-serif;
    height: 60px;
    border-radius: 50px !important;
    text-align: center;
}

.swal2-confirm {
    width: 200px;
    outline: none !important;
    border: none !important;
}

.swal2-html-container {
    font-family: "VW Text", sans-serif;
    font-size: 20px !important;
    color: rgb(0, 30, 80);
}

.swal2-confirm:hover {
    background-color: #02ccfd !important;
}

.container-main {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px
}

.register-form-container {
    width: 100%;
    margin: auto;
}

.input-label {
    padding-left: 10px;
    font-size: 20px;
    font-family: "VW Head", sans-serif;
    color: rgb(0, 30, 80);
    margin-bottom: 5px;
}

.input-field {
    width: 50%;
    margin-inline: auto;
    margin-bottom: 15px;

}


input, select {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 22px;
    padding: 10px;
    padding-left: 15px;
    font-family: "VW Text", sans-serif;
    border: 3px solid rgb(0, 30, 80);
    border-radius: 50px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#submit-btn {
    height: 50px;
    width: 200px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: rgb(0, 30, 80);
    color: #f6f8fa;
    font-family: "VW Text", sans-serif;
    font-size: 23px;

}

#submit-btn:hover {
    background-color: #02ccfd;
    cursor: pointer;
}

#back-btn {
    height: 50px;
    width: 100px;
    margin-top: 10px;
    border-radius: 50px;
    border: 3px solid rgb(0, 30, 80);
    background-color: #f6f8fa;
    color: rgb(0, 30, 80);
    font-family: "VW Text", sans-serif;
    font-size: 23px;
}

#back-btn:hover {
    background-color: rgb(0, 30, 80);
    color: #f6f8fa;
    cursor: pointer;
}

button {
    margin-inline: 5px;
}
