@font-face {
    font-family: 'VW Head';
    font-style: normal;
    font-weight: 400;
    src: local('VW Head'), url('/css/fonts/VWHeadRegular.woff') format('woff');
}
@font-face {
    font-family: 'VW Head';
    font-style: normal;
    font-weight: 700;
    src: local('VW Head'), url('/css/fonts/VWHeadBold.woff') format('woff');
}
@font-face {
    font-family: 'VW Text';
    font-style: normal;
    font-weight: 400;
    src: local('VW Text'), url('/css/fonts/VWTextRegular.woff') format('woff');
}
@font-face {
    font-family: 'VW Text';
    font-style: normal;
    font-weight: 700;
    src: local('VW Text'), url('/css/fonts/VWTextBold.woff') format('woff');
}

