<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="http://fonts.cdnfonts.com/css/vw-head" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Maschinenpark - Willkommen</title>
</head>
<body>
  <div class="header-container">
    <div class="header-text">
      <p>Akademie Emden</p>
    </div>
    <div class="header-line-middle"></div>
    <div class="header-logo">
      <img class="logo" src="/img/logo.png" alt="">
    </div>
    <div class="header-line-end"></div>
  </div>
  <div class="container-main">
    <p id="welcome-text">Willkommen beim Buchungssytem des Machinenparks</p>
    <div class="buttons-container">
      <button id="register-btn">Registrieren</button>
      <button id="login-btn">Anmelden</button>
    </div>
    <div id="help-btn" class="help-menu-container">
      <div class="help-menu"><ion-icon name="help-outline"></ion-icon></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="/js/index.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>