<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="/css/mc-calendar.min.css" rel="stylesheet" />
    <link href="http://fonts.cdnfonts.com/css/vw-head" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Maschinenpark - Home</title>
</head>
<body>
    <div class="header-container">
        <div class="header-text">
          <p>Akademie Emden</p>
        </div>
        <div class="header-line-middle"></div>
        <div class="header-logo">
          <img class="logo" src="/img/logo.png" alt="">
        </div>
        <div class="header-line-end"></div>
    </div>
    <div>
        <p id="date-time"></p>
    </div>
    <div class="container-main">
        <div class="my-bookings-container">
            <table class="my-bookings-table" cellspacing="0" cellpadding="0">
                <caption>Meine Buchungen</caption>
                <thead>
                    <tr>
                        <th>Buchungsnr.</th>
                        <th>Machine</th>
                        <th>Von</th>
                        <th>Bis</th>
                        <th class="edit-icons-header"></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <tr id="nobookings-info">
                        <td class="overlay">Sie haben aktuell keine Buchungen</td>
                    </tr>
                     <tr class="ended-row">
                        <td>1234</td>
                        <td>F3</td>
                        <td>02.08.2022</td>
                        <td>02.08.2023</td>
                        <td class="edit-icons-cell">
                            <div class="edit-icons-container">
                                <div title="Diese Buchung bearbeiten" class="edit-icon"><ion-icon name="pencil-outline"></ion-icon></ion-icon></div>
                                <div title="Diese Buchung l&#246;schen" class="delete-icon"><ion-icon name="trash-outline"></ion-icon></ion-icon></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="active-row">
                        <td>1234</td>
                        <td>D11</td>
                        <td>16.03.2022</td>
                        <td >22.06.2022</td>
                        <td class="edit-icons-cell">
                            <div class="edit-icons-container">
                                <div title="Diese Buchung bearbeiten" class="edit-icon"><ion-icon name="pencil-outline"></ion-icon></ion-icon></div>
                                <div title="Diese Buchung l&#246;schen" class="delete-icon"><ion-icon name="trash-outline"></ion-icon></ion-icon></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="soon-row">
                        <td>1234</td>
                        <td>F18</td>
                        <td>16.03.2052</td>
                        <td >22.06.2052</td>
                        <td class="edit-icons-cell">
                            <div class="edit-icons-container">
                                <div title="Diese Buchung bearbeiten" class="edit-icon"><ion-icon name="pencil-outline"></ion-icon></ion-icon></div>
                                <div title="Diese Buchung l&#246;schen" class="delete-icon"><ion-icon name="trash-outline"></ion-icon></ion-icon></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-secondary">
            <div class="option-button-container">
                <div class="button-container">
                    <button class="off" id="edit-btn">Buchung bearbeiten</button>
                </div>
                <div class="button-container">
                    <button id="add-btn">Neue Buchung</button>
                </div>
                <div class="button-container">
                    <button id="logout-btn">Abmelden</button>
                </div>
            </div>
        </div>
        <div id="help-btn" class="help-menu-container">
            <div class="help-menu"><ion-icon name="help-outline"></ion-icon></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/mc-calendar.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>