<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="/css/animate.min.css"
    />
    <link href="/css/mc-calendar.min.css" rel="stylesheet" />
    <link href="/css/vw-head.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/opentip.css">
    <link rel="stylesheet" href="/css/global.css" />
    <title>Maschinenpark - Home</title>
</head>
<body>
    <div class="header-container">
        <div class="header-text">
          <p>Akademie Emden</p>
        </div>
        <div class="header-line-middle"></div>
        <div class="header-logo">
          <img class="logo" src="/img/logo.png" alt="">
        </div>
        <div class="header-line-end"></div>
    </div>
    <div>
        <p id="date-time"></p>
    </div>
    <div class="container-main">
        <div class="my-bookings-container">
            <table class="my-bookings-table" cellspacing="0" cellpadding="0">
                <caption>Meine Buchungen</caption>
                <thead>
                    <tr>
                        <th>Buchungsnr.</th>
                        <th>Machine</th>
                        <th>Von</th>
                        <th>Bis</th>
                        <th class="edit-icons-header"></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <tr id="nobookings-info">
                        <td class="overlay">Sie haben aktuell keine Buchungen</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-secondary">
            <div class="option-button-container">
                <div class="button-container">
                    <button class="off" id="edit-btn">Buchung bearbeiten</button>
                </div>
                <div class="button-container">
                    <button id="add-btn">Neue Buchung</button>
                </div>
                <div class="button-container">
                    <button id="logout-btn">Abmelden</button>
                </div>
            </div>
        </div>
        <div id="help-btn" class="help-menu-container">
            <div class="help-menu"><ion-icon name="help-outline"></ion-icon></div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/opentip-jquery.js"></script>
    <script type="module" src="/js/dist/ionicons/ionicons.esm.js"></script> 
    <script nomodule src="/js/dist/ionicons/ionicons.js"></script> 
    <script src="/js/sweetalert.js"></script>
    <script src="/js/mc-calendar.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>